@model Task_Manager.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Tasks Assigned to @Model.Name";
}

<h1>@ViewData["Title"]</h1>

@* <ul>
    @foreach (var task in Model.Tasks)
    {
        <li>
            <strong>@task.Title</strong> - @task.Description
            <span>@(Model.TaskStatus[task.ID] ? "Completed" : "Pending")</span>
            @if (!Model.TaskStatus[task.ID])
            {
                <form asp-action="MarkTaskAsCompleted" method="post">
                    <input type="hidden" name="taskId" value="@task.ID" />
                    <input type="hidden" name="employeeId" value="@Model.ID" />
                    <button type="submit" class="btn btn-success btn-sm">Mark as Completed</button>
                </form>
            }
        </li>
    }
</ul>
 *@